# -------- Python / FastAPI --------
.venv/
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

# -------- Node / React --------
node_modules/
dist/
build/

# Logs
*.log

# Editor configs (optional)
.vscode/
.idea/
